body{
    background-color:#fffbf7; /*color de fondo*/
}

button{
    background-color: #025157;/*Color de fondo del boton*/
    color: #fff; /*color de texto*/
}

h1{
    color: #8b8b8bcc;/*color de texto*/
    text-align: center; 
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

p{
    color: #46484c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

